html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
      background-image: url("https://i.pinimg.com/originals/4b/b3/da/4bb3da56aab1cbc7cb2c0b9c6d150b27.jpg");
      font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
  }
  
  h1, h2 {
      text-align: center;
  }
  
  .containter {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
  }
  
  #space {
      margin-top: 15px;
  }
  
  .footer {
      right: 0;
      left: 0;
      bottom: 0;
        position: absolute;
      background: rgb(12, 3, 92);
      text-align: center;
      font-size: 30px;
      color: rgb(142, 147, 185);
        padding: 1rem;
  }
  
  

  /*MEDIA QUERIES*/
  
  @media screen and (max-width: 980px){
      #psychic-image {
          margin-left: 175px;
      }
  
      #psychic {
          margin-left: 165px;
      }
  
      #psychics-image {
          margin-right: 180px;
      }
  
  }
  
  
  @media only screen and (max-width: 768px){
  
      #psychic {
          margin-left: 170px;
      }
  
  }
  
  
  @media only screen and (max-width: 640px){
  
      h2 {
          margin-left: 70px;
      }
  
      #psychic-image {
          margin-left: 150px;
      }
  
      #psychic {
          margin-left: 145px;
      }
  
      #psychics-image {
          margin-right: 100px;
      }
  
  }